.App {
  text-align: center;
  margin: 0;
}

li,
a {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
  margin: 15px;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #0088a9;
}

h1 {
  color: #edf0f1;
  margin: 10px 0;
}

ul {
  list-style: none;
  display: flex;
}

nav {
  background-color: #778899;
}

input {
  border: solid 1px #0088a9;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  margin: 5px;
}


button {
  padding: 5px;
  background-color: #0088a9;
  margin: 10px
}