.list-item {
    display: flex;
    width: 450px;
    height: 200px;
    margin: 10px;
    border: 2px solid #0088a9;
    background-color: 778899;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input {
    width: 50%;
    padding: 2px;
    border: 1px solid #dfdfdf;
    outline: none;
}

.h3-movie-title {
    margin: 5px 0px 5px 0;
}



.left {
    width: 80%
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkbox {}